.container {
    display: grid;
    padding-top: 5%;
}

.center {
    text-align: center;
    margin: auto;
    /* padding: 10px; */
  }

.wrapper {
    display: flex;
    grid-template-columns: 20px;
    grid-gap: 0px;
    background-color: #fff;
    color: #444;
}

.item {
    color: #444;
    border: 1px solid rgb(26, 169, 252);
    /* padding: 14.22px; */
    height: 26px;
    width: 26px;

}

.start {
    margin: auto;
    margin-top: 6%;
    width: 80%;
    height: 80%;
    border: 1px solid black;
    border-radius: 100%;
    background-color: green;
}

.end {
    margin: auto;
    margin-top: 6%;
    width: 80%;
    height: 80%;
    border: 1px solid black;
    border-radius: 100%;
    background-color: red;
}

  