.container {
    display: grid;
}

.con {
    padding-top: 1%;
    padding-bottom: 1%;
    margin: auto;
}

.center {
    text-align: center;
    margin: auto;
  }

.wrapper {
    display: flex;
    grid-template-columns: 20px;
    grid-gap: 0px;
    background-color: #fff;
    color: #444;
}

.node {
    color: #444;
    border: 1px solid rgb(26, 169, 252);
    background-color: white;
    /* outline: 1px solid rgb(26, 169, 252); */
    display: inline-block;
    height: 26px;
    width: 26px;
}

.wall {
  background-color: black !important;
}

.start {
    margin: auto;
    margin-top: 6%;
    width: 80%;
    height: 80%;
    border: 1px solid black;
    border-radius: 100%;
    background-color: green;
}

.end {
    margin: auto;
    margin-top: 6%;
    width: 80%;
    height: 80%;
    border: 1px solid black;
    border-radius: 100%;
    background-color: red;
}



.node-visited {
    animation-name: visitedAnimation;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }
  
  @keyframes visitedAnimation {
    0% {
      transform: scale(0.3);
      background-color: rgba(0, 0, 66, 0.75);
      border-radius: 100%;
    }
  
    50% {
      background-color: rgba(17, 104, 217, 0.75);
    }
  
    75% {
      transform: scale(1.2);
      background-color: rgba(0, 217, 159, 0.75);
    }
  
    100% {
      transform: scale(1);
      background-color: rgba(0, 190, 218, 0.75);
    }
  }
  
  .node-shortest-path {
    animation-name: shortestPath;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }
  
  @keyframes shortestPath {
    0% {
      transform: scale(0.6);
      background-color: rgb(255, 254, 106);
    }
  
    50% {
      transform: scale(1.2);
      background-color: rgb(255, 254, 106);
    }
  
    100% {
      transform: scale(1);
      background-color: rgb(255, 254, 106);
    }
  }

  